@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url('/assets/font/GOTHAM-THIN.TTF') format('truetype');
  font-weight: 100; /* thinnest version */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/font/GOTHAM-XLIGHT.TTF') format('truetype');
  font-weight: 200; /* extra light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/font/Gotham-Light.otf') format('opentype');
  font-weight: 300; /* light weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/font/Gotham-Medium.woff2') format('woff2'),
       url('/assets/font/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/font/Gotham-Bold.woff2') format('woff2'),
       url('/assets/font/Gotham-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Gotham', sans-serif;
  font-weight: 300;
}

.hero {
  min-height: calc(100vh - 120px);
}
